.home{
    padding: 0px 10px;
    padding-bottom: 100px;
}
.hero{
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.hero h1{
    font-size: 2.5rem;
}
.hero p{
    width: 70%;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ddd;
}
.hero form{
    padding: 8px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.hero form input{
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    color: #ddd;
}
.hero form button{
    width: 20%;
    border: none;
    outline: none;
    background: transparent;
    color: #ddd;
    cursor: pointer;
}
.crypto-table{
   max-width: 800px;
   margin: auto;
   background: linear-gradient(rgba(84,3,255,0.15),rgba(105,2,153,0.15));
   padding: 10px;
   border-radius: 10px;
   margin-top: 40px;
}
.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    color: #ddd;
    font-weight: 600;
}
.market-cap{
    text-align: right;
}
.coin-image{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.table-layout:last-child{
    border-bottom: none;
}
.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}