.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}
.navbar .logo{
    width: max(12vw, 120px);
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar li{
    cursor: pointer;
}
.nav-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar select{
    padding: 5px;
    background: transparent;
    color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.navbar option{
    background: #1d152f;
    color: #ddd;
}
.navbar button{
    padding: 5px 15px;
    background: transparent;
    color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
