.coin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}
.coin-name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.coin-chart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.coin-details {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.coin-details p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}